body {font-family: Arial, Helvetica, sans-serif; font: size 16px; color: black;}
#herolink {font-weight: 550; color:#C65D1D;}
#interestslink {font-weight: 550; color:#003366}
main .emphasize {color:#003366; font-weight: 550;}
main .emphasize2 {color:#C65D1D; font-weight: 550; font-family: cursive;}
main .emphasize3 {color:#003366; font-weight: 550; font-family: cursive;}
main .de-emphasize {color:#808080}
.background {background-color:#DDC26F;}