body {font-family: Arial, Helvetica, sans-serif; font-size:large;}
header h1 {font-family: cursive}
main .hero {font-family: cursive; color: #1cadb6}
main .interests {font-family: cursive; color: #C65D1D;}
#hero {font-weight: 550; color: #1cadb6;}
#interests {font-weight: 550; color: #C65D1D}
main .firstlist {color: #0C1622}
main .secondlist {color: #808080}
main .herospan {font-weight: 550;}
main .interestsspan {font-weight: 550;}