/* Default Style */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.center {
    text-align: center;
    justify-content: center;
}

/* Header Style */
header h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 0;
}

header h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.overlapheadh1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 0;
}

/* Navigation Style */
nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: larger;
    display: block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

.current {
    color: rgb(194, 30, 30);
    font-weight: 800;
    border: 10px dashed black;
    background-color: white;
}

/* Main Style */
main h1 {
    margin-bottom: 50px;
}

main h3 {
    font-size: xx-large;
}

.list {
    list-style-image: url('faviconx20.png');
    margin: auto;
    justify-content: center;
}

.slide1-5 {
    margin-top: 50px;
}

.overlaph1 {
    margin-bottom: auto;
}

.overlaph2 {
    margin-top: 100px;
}

.p-adjustment {
    font-size: x-large;
}

.homebox {
    display: flex;
    margin-top: 200px 0;
    margin-bottom: 150px;
}

.whatisitbox {
    display: flex;
    margin-top: 200px 0;
    margin-bottom: 150px;
    border: 5px solid black;
}

.typesbox {
    display: flex;
    margin-top: 200px 0;
    margin-bottom: 150px;
    border: 5px solid black;
}

.properusebox {
    display: flex;
    margin-top: 200px 0;
    margin-bottom: 150px;
    border: 5px solid black;
}

.safetybox {
    display: flex;
    margin-top: 200px 0;
    margin-bottom: 150px;
    border: 5px solid black;
}

.maintenancebox {
    display: flex;
    margin-top: 200px 0;
    margin-bottom: 150px;
    border: 5px solid black;
}

.videobox {
    display: flex;
    justify-content: center;
    border: 5px solid black;
    height: 500px;
    width: 500px;
    margin: auto;
}

/* Footer Style */
footer p {
    margin-top: 100px;
}

.linksfooter {
    margin-top: 320px;
}