/* Default Style */
body {
    font-family: mySecondFont;
    font-size: large;
    margin: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url('Game\ of\ Thrones.ttf');
}

@font-face {
    font-family: mySecondFont;
    src: url('CELTG___.TTF')
}

/* Header Style */
header {
    font-size: x-large;
    background-color: white;
}

header h1 {
    font-family: myFirstFont;
    margin: 30px 0 0;
    color: black;
    background-color: white;
    text-align: center;
}

header p {
    font-family: mySecondFont;
    font-size: large;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 50px;
}

/* Navigation Style */
nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;

    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

.topborder {
    border-top: 2px solid white;
}

.bottomborder {
    border-bottom: 2px solid white;
}

nav a :hover {
    text-decoration: underline;
}

.current {
    color: rgb(194, 30, 30);
    font-weight: 800;
    border: 10px dashed black;
    background-color: white;
}

/* Main Style */
main {
    display: flex;
    margin-top: 60px;
    border: 5px solid;
}

main article h2 {
    color: rgb(194, 30, 30);
    margin-top: 0;
    margin-bottom: 0;
}

main h3 {
    margin: 0;
}

main .symbolbox hr {
    margin-left: 50px;
    margin-right: 50px;
}

aside {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px
}

figcaption {
    font-size: x-small;
    text-align: center;
    color: rgb(194, 30, 30);
}

.image-adjustment {
    width: 500px;
    height: 500px;
}

.textadjustment {
    font-size: large;
    color: rgb(194, 30, 30);
}

.textadjustment2 {
    font-size: x-large;
    color: rgb(194, 30, 30);
}

.textadjustment3 {
    font-size: x-large;
    color: rgb(194, 30, 30);
    margin-left: 50px;
}

.bg {
    background-image: url('targaryenbackground.jpg');
}

.asidebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    margin-top: 6px;
    margin-left: 20px;
}

.aside {
    width: 80%;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.808);
    border: thin solid black;
    box-shadow: 3px 3px 10px black;
}

.aside img {
    width: 100%;
}

.symbolbox {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    justify-content: left;
}

.symbol {
    width: 33%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.753);
    border: thin solid black;
    box-shadow: 3px 3px 10px black;
}

.symbol img {
    width: 100%;
}

@media screen and (max-width: 700px)
/* Default Style */
{
    body {
        background-color: black;
    }

/* Header Style */
    header {
        background-color: black;
    }
    header h1 {
        flex-direction: column;
        text-align-last: center;
        color: rgb(194, 30, 30);
        background-color: black;
    }

    header p {
        margin-bottom: 5px;
        margin-bottom: 10px;
        text-align: center;
        color: white;
        background-color: black;
    }

/* Navigation Style */
    nav {
        flex-direction: column;
    }

    nav a .topborder {
        border-top: 5px solid rgb(194, 30, 30);
    }

    nav a .bottomborder {
        border-bottom: 5px solid rgb(194, 30, 30);
    }

/* Main Style */
    main {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .asidebox{
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .aside {
        width: 100%;
        text-align: left;
        color: white;
        background-color: rgba(0, 0, 0, 0.808);
        border: thin solid black;
        box-shadow: 3px 3px 10px black;
    }

    .aside img {
        width: 100%;
    }

    .symbolbox {
        width: 100%;
        flex-direction: column-reverse;
    }

    .symbol {
        width: 80%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.753);
        border: thin solid black;
        box-shadow: 3px 3px 10px black;
    }

    .symbol img {
        width: 100%;
    }

    main hr {
        margin-left: 0;
        margin-right: 0;
    }
    /* Footer Style */
    footer p {
        color: white;
    }
}

/* Footer Style */
footer p {
    font-family: mySecondFont;
}