/* Default Style */
body {
    font-family: mySecondFont;
    font-size: large;
    margin: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url('Game\ of\ Thrones.ttf');
}

@font-face {
    font-family: mySecondFont;
    src: url('CELTG___.TTF')
}

/* Header Style */
header {
    font-size: x-large;
    background-color: white;
}

header h1 {
    font-family: myFirstFont;
    margin: 30px 0 0;
    color: black;
    background-color: white;
    text-align: center;
}

header p {
    font-family: mySecondFont;
    font-size: large;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 50px;
}

/* Navigation Style */
nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

.topborder {
    border-top: 5px dashed rgb(194, 30, 30);
}

.bottomborder {
    border-bottom: 5px dashed rgb(194, 30, 30);
}

nav a :hover {
    text-decoration: underline;
}

.current {
    color: rgb(194, 30, 30);
    font-weight: 800;
    border: 10px dashed black;
    background-color: white;
}

/* Main Style */

main {
    display: flex;
    
}

main h3 {
    margin: 0;
}

main hr {
    margin-left: 50px;
    margin-right: 50px;
}

aside {
    margin-top: 10px;
    padding: 10px 40px;
    color: rgb(218, 165, 32);
    float: left;
    border: 5px double rgba(218, 165, 32, 0.5);
}

.asidebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 20%;
}

.aside {
    width: 300px;
    text-align: center;
    color: white;
    background-color: black;
    border: thin solid black;
    box-shadow: 3px 3px 10px black;
}

.symbolbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.symbol {
    width: 33%;
    text-align: center;
    color: white;
    background-color: black;
    border: thin solid black;
    box-shadow: 3px 3px 10px black;
}

.symbol img {
    width: 100%;
}

@media screen and (max-width: 700px) {
    body {
        background-color: white;
    }

    header h1 {
        flex-direction: column;
        text-align-last: center;
    }

    header p {
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    nav a .topborder {
        border-top: 5px solid rgb(194, 30, 30);
    }

    nav a .bottomborder {
        border-bottom: 5px solid rgb(194, 30, 30);
    }

    main {
        flex-direction: column;
    }

    .asidebox{
        width: 100%;
        justify-content: center;
    }
    .symbolbox {
        width: 100%;
        flex-direction: column;
    }

    .center {
        order: -1;
    }

    main hr {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* Footer Style */
footer p {
    font-family: mySecondFont;
}