/* Default Style */
body {
    font-family: myFirstFont;
    color: rgba(255, 255, 255, 0.616);
}

body html {
    height: 100%;
}

.bg {
    background-image: url("background.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: myFirstFont;
    src: url('Balgruf-JRye7.ttf');
}

/* Navigation Style */
.container1 {
    display: flex;
    flex-flow: row wrap;
    gap: 2px;
    justify-content: space-around;
}

.item {
    color: gray;
    padding: 5px;
}

.current {
    color: rgba(255, 255, 255, 0.616);
}


/* Main Style */

/* Footer Style */
footer a {
    color: aliceblue;
}