/* Default Style */
body {
    font-family: myFirstFont;
    color: rgba(255, 255, 255, 0.616);
}

body html {
    height: 100%;
}

.bg {
    background-image: url("background.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#adjustments {
    margin: 20px;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
    background: rgba(22, 21, 21, 0.527);
    border: 5px double rgba(218, 165, 32, 0.5);
}

@font-face {
    font-family: myFirstFont;
    src: url('Balgruf-JRye7.ttf');
}
/* Header Style */
header h1 {
    color: goldenrod;
    font-size: 50px;
}

header h2 {
    font-size: 30px;
    margin-top: 50px;
}

/* Navigation Style */
nav {
    font-size: larger;
}

nav a {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}
.container {
    font-size: larger;
    display: flex;
    flex-flow: row wrap;
    gap: 2px;
    justify-content: space-around;
}

.item {
    color: gray;
    padding: 5px;
}

.current {
    color: rgba(255, 255, 255, 0.616);
}


/* Main Style */
main {
    font-size: larger;
}

main strong {
    text-transform: uppercase;
}

main em {
    color: rgb(184, 179, 179);
}

main b {
    color: goldenrod;
}

.textimagebox {
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: 2fr 2fr;
}

.makeblock {
    display: block;
}

aside {
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px 40px;
    color: rgb(218, 165, 32);
    float: left;
    width: 40%;
    border: 5px double rgba(218, 165, 32, 0.5);
}

.text {
    color: rgba(204, 198, 198, 0.87);
}

.image {
    font-style: italic;
    grid-template-columns: 2fr 2fr;
}

.imagegrid {
    display: grid;
    justify-content: end;
}

#wolf {
    width: 200px;
    height: 300px;
    border: 2px solid rgba(218, 165, 32, 0.5);
}

#wolf img {
    width: 200px;
    height: 300px;
}

#sabrecat {
    width: 200px;
    height: 300px;
    border: 2px solid rgba(218, 165, 32, 0.5);
}

#sabrecat img {
    width: 200px;
    height: 300px;
}

#frostspider {
    width: 200px;
    height: 300px;
    border: 2px solid rgba(218, 165, 32, 0.5);
}

#frostspider img {
    width: 200px;
    height: 300px;
}

#daedra {
    width: 200px;
    height: 300px;
    border: 2px solid rgba(218, 165, 32, 0.5);
}

#daedra img {
    width: 200px;
    height: 300px;
}

#draugr {
    width: 200px;
    height: 300px;
    border: 2px solid rgba(218, 165, 32, 0.5);
}

#draugr img {
    width: 200px;
    height: 300px;
}

#troll {
    width: 200px;
    height: 300px;
    border: 2px solid rgba(218, 165, 32, 0.5);
}

#troll img {
    width: 200px;
    height: 300px;
}

#giant {
    width: 200px;
    height: 300px;
    border: 2px solid rgba(218, 165, 32, 0.5);
}

#giant img {
    width: 200px;
    height: 300px;
}

#dragon {
    width: 200px;
    height: 300px;
    border: 2px solid rgba(218, 165, 32, 0.5);
}

#dragon img {
    width: 200px;
    height: 300px;
}

/* Footer Style */
footer a {
    display: block;
}

.container2 {
    grid-template-columns: 5fr 5fr 5fr 5fr;
    display: grid;
    padding: 5px;
}

.item2 {
    font-size: larger;
    color: rgba(211, 208, 163, 0.733);
}