/* Default Style */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header and Navigation Style */
div {
    width: 100%;
}

header {
    color: goldenrod;
}
nav a {
    text-decoration: none;
}

.headerbox {
    display: flex;
    width: 100%;
    background: black;
}

.title {
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    width: 20%;
}

.links {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    width: 70%;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.photo {
    display: flex;
    width: 10%;
    justify-content: flex-end;
}

.photo img {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.links-row {
    display: flex;
    margin-top: 28px;
    font-size: larger;
    color: white;
}

.current {
    background-color: goldenrod;
    height: 24px;
    border: goldenrod 8px solid;
    color: black;
    border-radius: 20px 20px;

}

/* Main Style */
legend {
    font-weight: 800;
    background-color: gold;
    border: black solid 5px;
    color: black;
}


fieldset {
    background: rgba(184, 136, 16, 0.986);
    font-weight: 600;
    border: black solid 5px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 20px;
    margin-top: auto;
}

/* Ajusting Form Inputs */
fieldset #two {
    margin-left: 3px;
}

fieldset #three {
    margin-left: 30px;
}

fieldset #four {
    margin-left: 36px;
}

fieldset #five {
    margin-left: 9px;
}

fieldset #six {
    margin-left: 37px;
}

fieldset #seven {
    margin-left: 5px;
}

fieldset #eight {
    margin-left: 1px;
}

fieldset #nine {
    margin-left: 82px;
}

fieldset #ten {
    display: flex;
    flex-direction: row-reverse
}

.adjustment3 {
    display: flex;
    margin-top: 30px;
    border-radius: 5px 5px;
    border: 1px black solid;
    margin-left: 84px;
}

.form-row input {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Footer Style */
footer {
    background-color: rgba(17, 17, 17, 0.884);
    color: white;
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 1px;
    border: black solid 5px;
}

@media only screen and (max-width: 700px) {
    nav a {
        margin-bottom: 10px;
    }

    fieldset #one, #two, #five, #eight {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    fieldset #three {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    fieldset #four {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    fieldset #five {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    fieldset #six {
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }

    fieldset #seven {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    fieldset #nine {
        margin-left: 0;
    }

    fieldset #ten {
        margin-top: 30px;
        margin-left: 0;
        border-radius: 6px 6px;
    }

    .form-row {
        flex-direction: row;
    }

    .form-row label {
        text-align: left;
    }

    .headerbox {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
    }

    .title {
        width: 60%;
        order: -1;
    }

    .links {
        margin: auto;
        width: 90%;
        order: 1;
        gap: px;
        font-size: small
    }

    .photo {
        width: 20%;
        margin-top: 40px;
        order: -1;
        justify-content: flex-end;
    }

    .photo img {
        margin: auto;
        width: 50px;
        height: 50px;
    }

    .adjustment3 {
        display: flex;
        margin-top: 10px;
        border-radius: 5px 5px;
        border: 1px black solid;
        margin-left: 3px;
    }
}
