/* Default Style */
body {
    font-family: myFirstFont;
    font-size: x-large;
    font-style: normal;
    color: black;
    background: url('whitetech.jpg') center no-repeat;
}

@font-face {
    font-family: myFirstFont;
    src: url('FFGoodProCond-Regular.ttf')
}

#wrapper {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(78, 110, 131, 0.274);
    border: 2px dotted rgba(78, 110, 131, 0.61);
}

/* Header Style */
header {
    font-family: myFirstFont;
    width: 50%;
    margin: 50px auto;
    border: 1px dotted black;
    background-color: rgba(255, 255, 255, 0.404);

}

header h1 {
    color: white;
    background-color: rgba(32, 76, 105, 0.336);
    margin: 0;
    text-align: center;
    padding: 20px
}

header h2 {
    color: black;
    background-color: rgba(255, 255, 255, 0.116);
    margin: 0;
    padding: 30px;
    text-align: center;
}

/* Nav Style */
nav {
    margin: 30px;
    font-weight: 1000;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav a {
    font-size: large;
    display: block;
    padding: 10px 5px;
    color: black;
    border: 1px dotted black;
    width: 80px;
    margin: auto 50px;
    float: left;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.404);
    color: goldenrod;
}

/* Main Style */
#gtx4090 {
    width: 200px;
    border: 5px double black;
    float: left;
}

#gtx4090 img {
    width:200px;
}

#gtx4070 {
    width: 200px;
    border: 5px double rgba(218, 165, 32, 0.596);
    float: right;
}

#gtx4070 img {
    width: 200px;
}

#gtx3080 {
    width: 100px;
    border: 5px double rgba(218, 165, 32, 0.582);
    position: absolute;
    top: 1700px;
    right: 500px;
}

#gtx30 img {
    width: 100px
}

.clear {
    clear: both;
}

/* Footer */
footer {
    background: url('Nvidia\ Logo\ 50x50.png') no-repeat ;
}