header {font-family: 'Times New Roman', Times, serif;}

body { font-size: larger; font-family:'Times New Roman', Times, serif; color: goldenrod; background: blue url('Fleur-de-lis\ 1.png')}

nav a {color: goldenrod;}

nav .current {color: lightgrey;}