/* Default Styles */
body {color: goldenrod; 
    font-family: myFirstFont; 
    font-size: x-large;
    background: url('Luxury\ Circles\ Background.jpg') fixed center
}
#wrapper {
    width: 900px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.247);
    border: 5px solid rgba(218, 165, 32, 0.466);
    border-style: double;

}

@font-face {
    font-family: myFirstFont;
    src: url('CalamityJaneNF.ttf')}

/* Header Styles */
header {
    font-family: myFirstFont; font-size: xx-large;
    background-color: rgba(45, 129, 226, 0.329); 
    width: 70%;
    margin: 30px auto;
    text-align: center;
    padding: 50px 30px 100px 3px
}

header h1 {margin-bottom: 0;
    border: 5px solid rgba(218, 165, 32, 0.514);
    border-style: double;
}

/* Nav Styles */
nav a{background-color: rgba(160, 156, 156, 0.267); 
    color: goldenrod;
    font-size:x-large;
    text-align: center;
}

nav {margin: 30px auto;
    text-align: center;
}

/* Main Styles */
main {font-size: x-large;
}
  