/* Default Style */
body {
    font-family: headerFont;
    font-size: large;
    margin: 0;
    color: goldenrod;
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 100vh;
}

.next {
    font-size: large;
    text-align: right;
}

.next a {
    text-decoration: none;
    background-color: black;
    color: gold;
    text-align: center;
    padding: 2px;
    border-top: gold solid 4px;
    border-bottom: gold solid 4px;

}

.next a:hover {
    color: white;
}

h1 {
    color: gold;
}

h2 {
    color: gold;
}

@font-face {
    font-family: headerFont;
    src: url(JH_FALLOUT.TTF);
}

.inkStyle {
    font-family: headerFont;
}

.decoration {
    height: 90px;
    background-color: white;
}

/* Header Style */
.current {
    border-top: 3px goldenrod solid;
    border-bottom: 3px goldenrod solid;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: auto;
    background-color: black;
}

/* Navigation Style */
nav {
    display: flex;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    color: gold;
}

nav a:hover {
    color: white;
}

.nav {
    display: flex;
    width: 70%;
    font-size: larger;
    font-weight: 700;
}

.headerbox {
    display: flex;
    width: 30%;
    margin-left: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin: auto;
}

/* Main Style */
/* Home Page */
.home {
    background-color: white;
}

.intro {
    display: flex;
    flex-direction: row;
    border: black solid 10px;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    margin-top: auto;
    justify-content: space-between;
    background: url(blackbgrnd2.jpg) no-repeat center;
    background-size: cover;
}

.intro figure {
    width: 700px;
    height: 700px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.intro img {
    width: 700px;
    height: 700px;
}

.homeImage figure {
    border-left: goldenrod 10px solid;
}

.welcomebox {
    margin-left: 0;
    margin-right: 0;
}

.welcome {
    font-size: xx-large;
    font-weight: 900;
    color: white;
    margin-left: 0;
    margin-right: 0;
    border-top: goldenrod solid 10px;
    border-bottom: goldenrod solid 10px;
}

/* Futures */
.spacer {
    display: flex;
    padding: 20px;
}

.text-spacer {
    display: flex;
    padding: 5px;
}

.mainbox {
    display: flex;
    flex-direction: column;
}

/* What are Futures */
.mainbox4-products {
    display: flex;
    flex-direction: column;
    min-height: 68vh;
}

.mainbox4-products a {
    text-decoration: none;
    color: maroon;
}

.mainbox4-products a:hover {
    color: rgba(255, 255, 255, 0.658);
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.products figure {
    height: 550px;
    width: 400px;
    border-top: goldenrod solid 4px;
    border-bottom: goldenrod solid 4px;
}

.products img {
    height: 500px;
    width: 400px;
}

/* Levels of Trading */
b {
    color: maroon;
}

.institutional {
    display: flex;
    flex-direction: row;
}

.retail {
    display: flex;
    flex-direction: row;
}

.levelsbox {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
    min-height: 68vh;
}

.levels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 70px;
}

.levelsbox h2 {
    color: black;
}

.levelsbox a {
    text-decoration: none;
    color: maroon;
}

.levelsbox a:hover {
    color: gray;
}

.levels figure {
    height: 500px;
    width: 400px;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
}

.levels img {
    height: 500px;
    width: 400px;
}

.levels aside {
    height: 500px;
    width: 200px;
}

/* Where to find Futures */
aside {
    margin-top: 15px;
    height: 300px;
    width: 250px;
}

.wherebox {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.wherebox figure {
    height: 530px;
    width: 400px;   
    border-top: goldenrod solid 4px;
    border-bottom: goldenrod solid 4px;
}

.wherebox img {
    height: 500px;
    width: 400px;
}

.platforms {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.platforms a {
    text-decoration: none;
    color: maroon;
}

.platforms a:hover {
    color: gray;
}

.videoLink {
    margin-left: 40px;
    margin-top: 30px;
}

/* Mindset */
#disclaimer {
    color: red;
}

.challengeBox {
    display: flex;
    flex-direction: row;
}

.block {
    display: block;
    width: 70%;
}

.challengeBox figure {
    width: 30%;
    justify-content: end;
}

.challengeBox img {
    width: 500px;
    height: 500px;
}

.overcomeBox {
    display: flex;
    flex-direction: row;
}

.block2 {
    display: block;
    width: 70%;
}

.overcomeBox figure {
    width: 30%;
}

.overcomeBox img {
    width: 500px;
    height: 500px;
    margin-top: 90px;
}

/* Indicators */
.indicators {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.indicators a {
    text-decoration: none;
    color: rgb(211, 160, 66);
}

.indicators a:hover {
    color: gray;
}

.chartBox {
    display: flex;
    flex-direction: column;
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
}

.charts figure {
    width: 400px;
    height: 530px;
    border-top: goldenrod solid 4px;
    border-bottom: goldenrod solid 4px;
}

.charts img {
    width: 400px;
    height: 500px;
}

.strategyBox {
    background-color: white;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
    color: black;
}

.strategyBox a{
    color: maroon;
}

.strategyBox strong {
    color: black;
    font-weight: 600;
}

.strategy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.strategy figure {
    width: 400px;
    height: 530px;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
}

.strategy img {
    width: 400px;
    height: 500px;
}

.executionBox {
    display: flex;
    flex-direction: column;
}

.execution {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.execution figure {
    width: 400px;
    height: 530px;
    border-top: goldenrod solid 4px;
    border-bottom: goldenrod solid 4px;
}

.execution img {
    width: 400px;
    height: 500px;
}

.videoBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    justify-content: center;
    width: auto;
}

.videoBox video {
    width: 900px;
    margin: auto;
}

.videoBox h3 {
    color: black;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Platforms */
.mainbox-platforms {
    display: flex;
    flex-direction: column;
    min-height: 68vh;
}

.mainbox-platforms a {
    text-decoration: none;
    color: maroon;
}

.mainbox-platforms a:hover {
    color: gray;
}

.mainbox-platforms2 {
    display: flex;
    flex-direction: column;
    min-height: 68vh;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
    color: black;
    background-color: white;
}

.mainbox-platforms3 {
    display: flex;
    flex-direction: row;
    min-height: 75vh;
    gap: 100px;
}

.platform-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.platform-images figure {
    display: flex;
    flex-direction: column;
    border-top: black solid 4px;
    border-bottom: black solid 4px;
    height: 500px;
    width: 400px;
}

.platform-images img {
    height: 500px;
    width: 400px;
}

strong {
    color: white;
}

/* Main - Platforms: Table */
caption {
    padding: 20px;
    color: white;
}

.asideAdjust {
    margin-top: 260px;
}

.table {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.table-content {
    width: 100%;
    height: 700px;
    margin: auto;
}

th {
    background-color: rgb(66, 62, 62);
}

.tableColor {
    color: rgb(66, 62, 62);
}

tfoot td {
    background-color: rgb(66, 62, 62);
    text-align: right;
}

/* Main - Contact */
.mainbox4-contact {
    display: flex;
    flex-direction: column;
}

.mainbox4-contact2 {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    background-color: black;
}

/* Main - Contact: About me */
.spacer-contact {
    display: flex;
    padding: 20px;
    background-color: white;
}

/* Main - Contact: Form */
fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 5px black dashed;
    margin-top: 100px;
    color: black;
    background-color: goldenrod;
}

fieldset input {
    background-color: black;
    height: 24px;
    color: white;
    font-size: medium;
    font-family: headerFont;
    border-radius: 5px 5px;
}

#button {
    width: 140px;
    height: 40px;
    text-align: center;
    font-family: headerFont;
}

fieldset #one {
    margin-right: 66px;
}

fieldset #two {
    margin-left: 5px; 
}

fieldset #three {
    margin-left: 82px;
}

fieldset #four {
    margin-left: 156px;
}

fieldset #five {
    margin-left: 159px;
}

fieldset #six {
    margin-left: 64px;
}

legend {
    border: goldenrod dashed;
    padding: 10px;
    margin-left: 158px;
    background-color: black;
    color: goldenrod;
}

.alertMessage {
    color: White;
    font-size: large;
    text-align: center;

}

.fieldset-spacer {
    padding: 10px;
}

.submit-spacer {
    display: flex;
    padding: 10px;
}


/* Footer Style */
footer {
    padding: 10px;
    color: gold;
    margin-top: auto;
    background-color: black;
}

/* Mobile Viewport Style */
@media screen and (max-width: 670px) {
    body {
        font-size: medium;
    }
    .box {
        display: flex;
        flex-direction: column;
    }

    .links {
        flex-direction: column;
        gap: 15px;
        margin: 0;
    }

    .current {
        margin: 0;
    }

    .nav {
        flex-direction: column;
    }
/* Home Style */
.intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.intro figure {
    width: auto;
    height: 300px;
    margin-left: 0;
    margin-right: 0;
}

.intro img {
    width: 259px;
    height: 300px;
}

.welcome {
    display: block;
    border-top: goldenrod solid 10px;
    border-bottom: goldenrod solid 10px;
}

/* Futures Style */
    /* ---Futures--- */
    .products {
        display: flex;
        flex-direction: column;
        gap: 70px;
        min-height: 180vh;
    }

    .products figure {
        width: 200px;
        height: 300px;
        margin: auto;
    }

    .products img {
        width: 200px;
        height: 300px;
    }

    /* ---Levels of Trading--- */
    .levels {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 50px;
    }

    .institutional {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .institutional figure {
        width: 200px;
        height: 300px;
        margin: auto;
    }

    .institutional aside {
        display: block;
        width: auto;
        height: auto;
    }

    .institutional img {
        width: 200px;
        height: 300px;
    }

    .retail {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .retail figure {
        width: 200px;
        height: 300px;
        margin: auto;
    }

    .retail aside {
        display: block;
        width: auto;
        height: auto;
    }

    .retail img {
        width: 200px;
        height: 300px;
    }

    /* ---Where to Find Futures--- */
    .platforms {
        min-height: 190vh;
    }

    .platforms p {
        display: flex;
        margin-top: 50px;
    }

    .platforms aside {
        width: 100%;
        height: auto;
    }

    .platforms figure {
        width: 200px;
        height: 300px;
        margin: auto;
    }

    .platforms img {
        width: 200px;
        height: 300px;
    }

/* Mindset Style */
    /* ---Challenge--- */
    .challengeBox {
        display: flex;
        flex-direction: column;
    }

    .challengeBox img {
        width: 200px;
        height: 300px;
        margin: auto;
    }

    .block {
        width: auto;
    }

    .challengeBox figure {
        width: auto;
    }

    /* ---OVercome--- */
    .overcomeBox {
        display: flex;
        flex-direction: column;
    }

    .block2 {
        width: auto; 
    }

    .overcomeBox figure {
        width: auto;
    }

    .overcomeBox img {
        width: 200px;
        height: 300px;
        margin: auto;
    }

/* Indicators Style */
    .chartBox {
        display: flex;
        flex-direction: column;
    }

    .chartBox aside {
        display: block;
        width: auto;
        height: auto;
    }

    .charts {
        margin-top: 40px;
        gap: 30px;
    }

    .charts figure {
        width: 200px;
        height: 347px;
    }

    .charts img {
        width: 200px;
        height: 300px;
    }

    .strategy figure {
        width: 200px;
        height: 330px;
    }

    .strategy img {
        width: 200px;
        height: 300px;
    }

    .executionBox {
        display: flex;
        flex-direction: column;
    }

    .execution figure {
        width: 200px;
        height: 330px;
    }

    .execution img {
        width: 200px;
        height: 300px;
    }

    .videoBox {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: white;
        border-top: black solid 4px;
        border-bottom: black solid 4px;
        justify-content: center;
        width: auto;
    }
    
    .videoBox video {
        width: 270px;
        margin: auto;
    }

    .videoBox h3 {
        margin: auto;
    }

/* Platforms Style */
    .mainbox-platforms3{
        flex-direction: column;
    }

    .platform-images {
        flex-direction: column;
        margin: auto;
        width: auto;
        gap: 30px;
    }

    .platform-images figure {
        margin: auto;
        width: 200px;
        height: 300px;
    }

    .platform-images img {
        width: 100%;
        height: 300px;
    }

    aside {
        display: block;
        height: 525px;
        width: auto;
        margin: auto;
    }

    .asideAdjust {
        width: auto;
    }

    /* ---Platforms - Table--- */
    caption {
        font-size: medium;
    }

    caption p {
        font-size: small;
    }

    .mainbox-platforms3{
        flex-direction: column;
        gap: 10px;
    }

    .table {
        margin: auto;
        width: 95%;
    }

    .table-content {
        border-collapse: collapse;
        font-size: small;
        table-layout: fixed;
    }

    /* ---TFoot--- */
    tfoot {
        width: auto;
    }

    tfoot th {
        width: auto;
    }

/* Contact Style */
    fieldset {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    legend {
        margin: 0;
    }

    fieldset input {
        width: 160px;
    }
    fieldset #one {
        margin-left: 0;
    }

    fieldset #two {
        margin-left: 0;
    }

    fieldset #three {
        margin-left: 0;
    }

    fieldset #four {
        margin-left: 0;
        display: flex;
        width: 200px;
    }

    fieldset #five {
        margin-left: 0;
    }

    fieldset #six {
        margin-left: 0;
    }


    .form-row {
        display: flex;
        flex-direction: column;
    }
}