/* Default Style */
body {
    font-family: headerFont;
    font-size: large;
    margin: 0;
    color: rgba(129, 245, 106, 0.979);
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 100vh;
}

@font-face {
    font-family: headerFont;
    src: url(JH_FALLOUT.TTF);
}

.inkStyle {
    font-family: headerFont;
}

.decoration {
    height: 90px;
    background-color: white;
}

/* Header Style */
.current {
    border: 2px green solid;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: auto;
    border-top: 3px rgba(129, 245, 106, 0.979) solid;
    border-bottom: 3px rgba(129, 245, 106, 0.979) solid;
    border-style: double;
    background-color: black;
}

/* Navigation Style */
nav {
    display: flex;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    color: rgba(129, 245, 106, 0.979);
}

nav a:hover {
    color: white;
}

.nav {
    display: flex;
    width: 70%;
    font-size: larger;
    font-weight: 700;
}

.headerbox {
    display: flex;
    width: 30%;
    margin-left: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin: auto;
}

/* Main - Futures */
.spacer {
    display: flex;
    padding: 20px;
}

.text-spacer {
    display: flex;
    padding: 5px;
}

.mainbox {
    display: flex;
    flex-direction: column;
}

/* Main - What are Futures */
.mainbox4-products {
    display: flex;
    flex-direction: column;
    min-height: 68vh;
    border: rgba(129, 245, 106, 0.979) double;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.products figure {
    height: 500px;
    width: 400px;
    border: 2px rgba(129, 245, 106, 0.979) dashed;
}

/* Main - Levels of Trading */
.levelsbox {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    border: black double;
    min-height: 68vh;
}

.levels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.levels figure {
    height: 500px;
    width: 400px;
    border: 2px black dashed;
}

.levels img {
    height: 500px;
    width: 400px;   
}

.levels aside {
    height: 500px;
    width: 200px;
}

/* Main - Where to find Futures */
aside {
    margin-top: 15px;
    height: 300px;
    width: 250px;
}

.wherebox {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    border: rgba(129, 245, 106, 0.979) double;
}

.wherebox figure {
    height: 500px;
    width: 400px;
    border: 2px rgba(129, 245, 106, 0.979) dashed;    
}

.wherebox img {
    height: 500px;
    width: 400px;   
}

.platforms {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-around;
}

/* Main - Mindset */
#disclaimer {
    color: red;
}

.challengeBox {
    display: flex;
    flex-direction: row;
}

.block {
    display: block;
    width: 70%;
}

.challengeBox figure {
    width: 30%;
}

.challengeBox img {
    width: 100%;
    height: 100%;
}

.overcomeBox {
    display: flex;
    flex-direction: row;
}

.block2 {
    display: block;
    width: 70%;
}

.overcomeBox figure {
    width: 30%;
}

.overcomeBox img {
    width: 100%;
    height: 500px;
    margin-top: 90px;
}

/* Main - Platforms */
.mainbox-platforms {
    display: flex;
    flex-direction: column;
    min-height: 68vh;
    border: rgba(129, 245, 106, 0.979) double;
}

.mainbox-platforms2 {
    display: flex;
    flex-direction: column;
    min-height: 68vh;
    border: black double;
    color: black;
    background-color: white;
}

.mainbox-platforms3 {
    display: flex;
    flex-direction: row;
    min-height: 75vh;
    border: rgba(129, 245, 106, 0.979) double;
    gap: 100px;
}

.platform-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.platform-images figure {
    display: flex;
    flex-direction: column;
    border: black dashed;
    height: 500px;
    width: 500px;
}

.platform-images img {
    height: 500px;
    width: 100%;
}

strong {
    color: white;
}

/* Main - Platforms: Table */
caption {
    padding: 20px;
    color: white;
}

.tableAside {
    margin-top: 32px;
}

.asideAdjust {
    margin-top: 90px;
}

.table {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.table-content {
    width: 100%;
    height: 700px;
    margin: auto;
}

th {
    background-color: rgb(66, 62, 62);
}

.tableColor {
    color: rgb(66, 62, 62);
}

tfoot td {
    background-color: rgb(66, 62, 62);
    text-align: right;
}

/* Main - Contact */
.mainbox4-contact {
    display: flex;
    flex-direction: column;
    border: rgba(129, 245, 106, 0.979) double;
}

.mainbox4-contact2 {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    border: rgba(129, 245, 106, 0.979) double;
    background-color: black;
}

/* Main - Contact: About me */
.spacer-contact {
    display: flex;
    padding: 20px;
    background-color: white;
}

/* Main - Contact: Form */
fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 5px black dashed;
    margin-top: 100px;
    color: black;
    background-color: rgba(129, 245, 106, 0.979);
}

fieldset input {
    background-color: black;
    border: rgba(129, 245, 106, 0.979) 2px dashed;
    height: 24px;
    color: white;
    font-size: medium;
    font-family: headerFont;
    border-radius: 5px 5px;
}

#button {
    width: 140px;
    height: 40px;
    text-align: center;
    font-family: headerFont;
}

fieldset #one {
    margin-right: 66px;
}

fieldset #two {
    margin-left: 5px; 
}

fieldset #three {
    margin-left: 82px;
}

fieldset #four {
    margin-left: 156px;
}

fieldset #five {
    margin-left: 159px;
}

fieldset #six {
    margin-left: 64px;
}

legend {
    border: rgba(129, 245, 106, 0.979) dashed;
    padding: 10px;
    margin-left: 158px;
    background-color: black;
    color: rgba(129, 245, 106, 0.979);
}

.alertMessage {
    color: White;
    font-size: large;
    text-align: center;

}

.fieldset-spacer {
    padding: 10px;
}

.submit-spacer {
    display: flex;
    padding: 10px;
}


/* Footer Style */
footer {
    padding: 10px;
    border-top: 3px rgba(129, 245, 106, 0.979) solid;
    border-bottom: 3px rgba(129, 245, 106, 0.979) solid;
    border-style: double;
    margin-top: auto;
}

/* Mobile Viewport Style */
@media screen and (max-width: 670px) {
    /* Default Style */
    body {
        font-size: medium;
    }
    .box {
        display: flex;
        flex-direction: column;
    }

    .links {
        flex-direction: column;
        gap: 15px;
        margin: 0;
    }

    .current {
        margin: 0;
    }

    .nav {
        flex-direction: column;
    }

    /* Mindset Style */
    /* ---Challenge--- */
    .challengeBox {
        display: flex;
        flex-direction: column;
    }

    .block {
        width: auto;
    }

    .challengeBox figure {
        width: auto;
    }

    /* ---OVercome--- */
    .overcomeBox {
        display: flex;
        flex-direction: column;
    }

    .block2 {
        width: auto; 
    }

    .overcomeBox figure {
        width: auto;
    }

    .overcomeBox img {
        width: 200px;
        height: 300px;
        margin: auto;
    }

    /* Platforms Style */
    .mainbox-platforms3{
        flex-direction: column;
        min-height: 200vh;
        gap: 10px;
    }

    .platform-images {
        flex-direction: column;
        margin: auto;
        width: auto;
        gap: 30px;
    }

    .platform-images figure {
        margin: auto;
        width: auto;
    }

    aside {
        display: block;
        height: 525px;
        width: auto;
        margin: auto;
    }

    .asideAdjust {
        width: auto;
    }


    /* Platforms - Table Style */
    caption {
        font-size: medium;
    }

    caption p {
        font-size: small;
    }

    .mainbox-platforms3{
        flex-direction: column;
        gap: 10px;
    }

    .table {
        margin: auto;
        width: auto;
    }

    .table-content {
        width: 100%;
        border-collapse: collapse;
        font-size: small;
        table-layout: fixed;
    }

    /* TFoot */
    tfoot {
        width: auto;
    }

    tfoot th {
        width: auto;
    }

    /* Contact Style */
    fieldset {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    legend {
        margin: 0;
    }

    fieldset input {
        width: 160px;
    }
    fieldset #one {
        margin-left: 0;
    }

    fieldset #two {
        margin-left: 0;
    }

    fieldset #three {
        margin-left: 0;
    }

    fieldset #four {
        margin-left: 0;
        display: flex;
        width: 200px;
    }

    fieldset #five {
        margin-left: 0;
    }

    fieldset #six {
        margin-left: 0;
    }


    .form-row {
        display: flex;
        flex-direction: column;
    }
}